<div id="wrapper">

  <app-sidebar></app-sidebar>
  <div id="content-wrapper"  class="d-flex flex-column">
    <div id="content">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Wissen Technology</span>
        </div>
      </div>
    </footer>
  </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
