<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Perform Order</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <span>
            <h3 class="m-0 font-weight-bold text-primary">Proceed to checkout</h3>
          </span>
        </div>
        <div class="card-body">
          <form #newOrderForm="ngForm" (ngSubmit)="checkOut(newOrderForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
              <div style="text-align: right;width:50%">
                <em *ngIf="newOrderForm.controls.seller?.invalid && (newOrderForm.controls.seller?.touched)"  class="text-danger">**Required</em>
              </div>
             <input (ngModel)="newOrder.seller" name="seller" required id="seller"  type="text" style="width:50%" class="form-control form-control-user" id="exampleFirstName" placeholder="Seller Name">
            <br>
            <h6 class="m-0 font-weight-bold text-primary">Checkout Items:</h6>
            <div class="my-2"></div>
              <div style="text-align: right">
                <em *ngIf="!(orderCart.entries.length>0)" class="text-danger">**Cart cannot be empty</em>
              </div>
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary">
                <tr class="text-white">
                  <th>ProductID</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th colspan="2">
                    Amount
                  </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <td class="bg-primary" colspan="5" align="right">
                    <a  data-toggle="modal" data-target="#newOrderModal" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                      <span class="text" style="color:white" >Add Product</span>
                    </a>
                  </td>
                </tr>
                </tfoot>
                <tbody *ngFor="let item of orderCart.entries" #tableBody >
                <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>$ {{item.price}}</td>
                  <td align="center">
                    <button (click)="decrementAmount(item.id)" type="button" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-minus"></i></button>
                    <span>   {{item.amount}}   </span>
                    <button (click)="incrementAmount(item.id)"   type="button" class="btn btn-success btn-circle btn-sm"><i class="fas fa-plus"></i></button>
                  </td>
                  <td style="width:50px" ><button (click)="deleteProduct(item.id)" type="button" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button></td>
                </tr>
                </tbody>
              </table>
            </div>
            <br>
            <h6 class="m-0 font-weight-bold text-primary">Grand Total: </h6>
            <input  readonly name="total" type="number" style="width:50%" class="form-control form-control-user" id="exampleLastName" placeholder="{{this.orderCart.total | currency:'₹'}}" value="${{this.orderCart.total| currency:'₹'}}" >
            <br>
            <button  [disabled]="newOrderForm.invalid || (this.orderCart.entries.length==0)" type="submit" class="submit btn btn-primary btn-user btn-block" style="width:25%">
              Checkout
            </button>
          </div>
          </form>
        </div>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Product By ID</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form class="user">
      <div class="modal-body">
          <div class="form-group">
            <input type="number" class="form-control form-control-user" #newProductId  placeholder="Enter ID">
            <br>
            <input type="number" class="form-control form-control-user" #newProductAmount  placeholder="Amount">
          </div>
      </div>
      <div class="modal-footer text-white">
        <button class="btn btn-secondary" (click)="newProductId.value=null;newProductAmount.value=null;"data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary"  data-dismiss="modal" (click)="addProduct(newProductId.value ,newProductAmount.value );newProductId.value=null;newProductAmount.value=null;">Add</a>
      </div>
      </form>
    </div>
  </div>
</div>
